<div class='container-fluid' ng-controller='LoginCtrl as login'>
	<div class='row'>
		<div class='col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4
					col-xs-12'>
			<div id='title'>GRUB</div>
			<ul class="nav nav-tabs" id='login-tabs'>
			  <li ng-class="{ active: login.isSet(1) }">
			  	<a ui-sref=".sign-in" ng-click="login.setTab(1)">Sign In</a>
			  </li>
			  <li ng-class="{ active: login.isSet(2) }">
			  	<a ui-sref=".sign-up" ng-click="login.setTab(2)">Sign Up</a>
			  </li>
			</ul>
			
				<div ui-view></div>				
			
		</div>
		<div class='col-md-4 col-sm-4 col-xs-12'>
			<p id='subtext'>
				Viderer vivendo interpretaris ei eam, agam fabellas an ius. Tollit placerat tacimates duo at, et eam veritus blandit sententiae, nam tempor libris percipit ea. Atqui quidam qui eu, sit et elit causae eloquentiam, nec te harum veniam vulputate. Vel eu constituam quaerendum, pro ei dicam feugait, per et singulis contentiones. Ea zril pericula mei, mentitum principes scribentur ius ei. Error deseruisse sed eu.
				<br><br>
				Vis justo dolor labore in, agam meis referrentur ex vix. Cu qui aperiri consequat efficiendi, epicurei tincidunt ad mel. Mollis vituperata argumentum an cum. Nam possim persius ad, cu pro congue delicatissimi, in qui blandit quaerendum.
				<br><br>
				Ex cum mutat error oportere. An vel prima atomorum. Molestie delicata ex eos, qui perfecto principes consectetuer ea. Facer scriptorem ius in, ei congue intellegebat quo, ne sed suscipiantur voluptatibus.
				<br><br>
				Quidam tamquam placerat vix ad, maiorum indoctum pri ea. Est ut labore sapientem, his ad viderer luptatum. An diam agam volutpat mei, iudico dolore maluisset usu ea, vis et fabulas adipiscing concludaturque. No libris meliore mentitum vel, qui te impetus expetendis, eum iisque invidunt in. In eum aliquid mediocritatem, has at dolor eligendi qualisque. Impedit vituperatoribus no mel.
			</p>
		</div>
	</div>
</div>


