<div id='login-div'>
	<h3 class='font sign-in-header'>- Sign In -</h3>
	<form ng-submit='login.submit()' name='loginForm' id='loginForm'>
		<div class='slot'>
			<label>Username</label>
			<input type="text" name="username" ng-model="login.user.username"
					class='username' required ng-minlength="4" >
		</div>
		<div class='slot'>
			<label>Password</label>
			<input type="password" name='password'
					class='password' 
					ng-model="login.user.password" required >
		</div>
		<input type='submit' value='Sign In' 
				class="btn btn-default" id='submit-btn'
				ng-disabled="loginForm.$invalid"></input>
	</form>
</div>