<!DOCTYPE html>
<html>
<head>
  <title>GrubV2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/frameworks/bootstrap.css">
  <!-- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css -->
</head>
<body ng-app="Grub">

<%= yield %>

</body>
</html>
